body {
  background: var(--bg);
}

h1 {
  color: var(--primary-color);
}

p,
h2 {
  color: var(--color-text);
}

.bannerContainer {
  background: var(--bg-hero);
  padding-top: 5rem;
  padding-bottom: 10rem;
  height: 90vh;
  background-size: cover !important;
}

.bannerGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12rem auto 10rem;
      grid-template-columns: 12rem auto 10rem;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "headshot title switch" "content content content";
}

.headshotContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headshot;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  border-color: var(--primary-color);
  border-width: 0.15rem;
  border-style: solid;
  margin-right: 5rem;
}

.headshotContainer .headshotImage {
  width: 100%;
  height: 100%;
}

.paragraphContainer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: content;
  margin-top: 4rem;
  width: 45rem;
}

.card {
  background-color: var(--card-color);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  padding: 2rem;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.fullStackSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 20rem 20rem;
      grid-template-rows: 20rem 20rem;
  grid-row-gap: 4rem;
  grid-column-gap: 4rem;
      grid-template-areas: "laptop fullStack mobile" "open1 database open2";
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.fullStackSection .fullStackTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullStackSection .fullStackTextContainer h1 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.fullStackSection .fullStackTextContainer h3 {
  margin-left: 1.5rem;
  font-weight: lighter;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1.1rem;
  text-align: center;
}

.fullStackSection .imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullStackSection .imageContainer img {
  width: 100%;
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fullStackSection .card {
  width: 90%;
  height: 20rem;
}

.fullStackSection .laptop {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: laptop;
}

.fullStackSection .mobile {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: mobile;
}

.fullStackSection .database {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: database;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
  background: var(--primary-color);
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}
/*# sourceMappingURL=main.css.map */