html[data-theme="dark"] {
  --bg: #333333;
  --primary-color: #61dafb;

  --grad1: rgb(40, 44, 52);
  --grad2: rgba(40, 44, 52, 0.83);
  --grad3: rgba(40, 44, 52, 0.22);
  --grad4: rgba(40, 44, 52, 0.063);

  --bg-hero: linear-gradient(
      60deg,
      var(--grad1),
      var(--grad2),
      var(--grad3),
      var(--grad4)
    ),
    url("../images/board1.png");
}

html[data-theme="light"] {
  --bg: #fcfcfc;
  --primary-color: #282c34;

  --bg-panel: #ebebeb;
  --color-headings: #3694ff;
  --color-text: #b5b5b5;

  --grad1: rgb(255, 255, 255);
  --grad2: rgba(255, 255, 255, 0.83);
  --grad3: rgba(255, 255, 255, 0);
  --grad4: rgba(255, 255, 255, 0);

  --bg-hero: linear-gradient(
      60deg,
      var(--grad1),
      var(--grad2),
      var(--grad3),
      var(--grad4)
    ),
    url("../images/hero-8.jpg");

  .bannerContainer {
    background-position: bottom;
  }
}
